@font-face {
	font-family: 'Honey';
	src: url("fonts/Honey_Script_Light.ttf");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Avenir Next Condensed', Arial, sans-serif;
	font-size: 20px;
	color: #333;
}

#logo {
	float: left;
	width: 9em;
	padding: 0 1em;
	visibility: hidden;
}

nav {
	float: right;
	margin: .5em;
}

nav a {
	color: #58585b;
	padding: 1em;
}

a {
	color: #969698;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

#splash {
	background: url("../images/mountains_header.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	text-align: center;
	height: 100vh;
	color: black;
}

#splash img {
	width: 25em;
	margin-bottom: .7em;
}

#header_text {
	padding: 40vh 0;
	line-height: .7;
}

#header_text p {
	font-size: 1.5em;
}

#about, #skills {
	position: relative;
	text-align: center;
}

#about div {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#skills div {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#about div, #skills div {
	padding: 2em 1em;
	width: 50%;
}

/*#services div{
	float: right;
}*/

#about p, #skills p {
	text-align: left;
	margin: 1em auto; 
	max-width: 25em; 
	min-width: 20em;
}

h2 {
	font-family: Honey, Arial;
	font-size: 3.5em;
	text-align: center;
}

#about_img {
	float: right;
	width: 50%;
}

#skills_img {
	float: left;
	width: 50%;
}

#about:after, #skills:after{
	display: block;
	content:" ";
	clear: both;
	font-size: 0;
	visibility: hidden;
	height: 0;
}

#skills {
	padding-bottom: 5px;
	border-bottom: 12px double #c5dbff;
}

#contact h2, #photography h2 {
	padding: .5em 0 .6em;
}

#photography {
	width: 100%;
	margin: 5em 0;
}

.small_square {
	width: 75%;
	margin: 0 auto 10em;
}

.small_square img {
	width: 25%;
	float: left;
	padding: .25em;
}

/*.portfolio a {
	display: inline-block;
	padding: 1em;
	margin-bottom: 1.5em;
}*/

.small_square:after, #photography:after {
	display: block;
	content:" ";
	clear: both;
	font-size: 0;
	visibility: hidden;
	height: 0;
}

#photography {
	border-bottom: 12px double #c5dbff;
	text-align: center;
}

#contact h2 {
	padding-bottom: .2em;
	margin-bottom: .5em;
}

#contact {
	text-align: center;
	margin-bottom: 5em;
	line-height: 1.5em;
}

#email {
	margin-top: 1.5em;
}

#linkedin {
	display: block;
	margin-top: .8em;
}

#scroll_to_top {
	height: 40px;
	width: 100%;
	background: rgba(197,219,255,.6);
	position: fixed;
	bottom: 0;
	margin: 0;
}

#scroll_to_top a {
	float: right;
	padding: 6px 20px;
	color: #2e2e30;
}

#scroll_to_top a:hover {
	color: #000;
	}

#end_space {
	height: 40px;
	background-color: #c5dbff;
}

@media only screen and (max-width: 1250px) {
	p {
		font-size: 18px;
	}
	.small_square {
		width: 935px;
	}
}

@media only screen and (max-width: 1090px) {
	p {
		font-size: 1em;
	}
	#about, #skills {
		width: 700px;
		margin: 0 auto;
		position: static;
	}
	#about div, #skills div {
		width: 100%;
		padding: 4em 2em;
		float: none;
		display: block;
		position: static;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}
	#about_img, #skills_img {
		float: none;
		display: block;
		width: 100%;
		position: static;
	}
	#skills {
		border-bottom: none;
	}
	.small_square {
		margin-bottom: 6em;
	}
}

@media only screen and (max-width: 960px) {
	.small_square {
		width: 98%;
	}

@media only screen and (max-width: 800px) {
	.small_square img {
		width: 50%;
	}
	.small_square {
		max-width: 600px;
	}
}

@media only screen and (max-width: 700px) {
	#about, #skills {
		width: 100%;
	}
	#about p, #skills p {
		font-size: .9em;
	}
	#header_text img {
		width: 71%;
	}
	#header_text p {
		font-size: 1.3em;
	}
	#logo {
		display: none;
	}
}

@media only screen and (max-width: 550px) {
	nav a {
		padding: 1em .7em;
	}
	nav {
		margin: .5em 0;
	}
	#header_text p {
		font-size: 1em;
	}
	#header_text img {
		width: 340px;
	}
	#about p, #skills p {
		font-size: .8em;
	}
	h2 {
		font-size: 2.9em;
	}
	#about div, #skills div {
		padding: 2em 1em;
	}
}

/*#footer_nav a {
	float: right;
	padding: 8px 25px 0;
}

#footer_nav {
	width: 100%;
	background: rgba(255,255,255,.7);
	position: fixed;
	bottom: 0;
	margin: 0;
}

#social {
	width: 360px;
	height: 20px;
	margin: 0 auto;
	padding-top: 5px;
}

#social img {
	width: 36px;
}

#social a, #social img {
	margin: 0;
}

#social a {
	padding: 0 18px;
}

#end_space {
	height: 70px;
	border-top: 12px double #c5dbff;
}
*/