* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-family: Helvetica, Arial, Sans-Serif;
}

#splash {
	background: url("images/header_image.jpg");
	background-size: cover;
	background-position: center center;
	text-align: center;
	height: 90vh;
}

nav a {
	color: white;
	letter-spacing: 2px;
	margin-right: 40px;
}

nav {
	padding: 20px;
	float: right;
}

#nav_bar {
	background-color: rgba(0,0,0,.5);
}

a {
	color: #3CC6FF;
	text-decoration: none;
}

h1 {
	font-size: 60px;
	font-family: "Times New Roman", Serif;
	letter-spacing: 2px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#slogan {
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 100px;
}

h1, #slogan {
	color: #3CC6FF;
}

#heading_text {
	padding: 175px;
}

main {
	/* padding: 30px; */
}

#services {
	width: 50%;
	padding: 60px;
	text-align: center;
}

#devices_image {
	background: url("images/devices.jpg");
	background-size: 49%;
	background-position: center center;
}

#services #devices_image {
	display: inline-block;
}

h3 {
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	line-height: 1.5;
}

<<<<<<< HEAD
footer {
	padding: 20px;
	text-align: center;
	background-color: rgba(0,0,0,.5)
	left: 0;
	right: 0;
}
=======
header img {width: 10em;float: left;}

footer {
	padding: 20px;
	text-align: center;
	background-color: rgba(0,0,0,.5);
}
>>>>>>> origin/master
